*{
    margin: 0;
    padding: 0;
    /*color: bfbdc1;
    color: 6d6a75;
    color: 37323e;
    color: deb841;
    color: de9e36; 
    
    */
}

/*diseño mobile*/
@media screen and (max-width:550px){
    .body__container{
        display: grid;
        grid-template-areas: 
        "header"
        "main" 
        "footer";
        background: #de9e36;
    }
    header{
        grid-template-areas: header;
        display: flex;
        justify-content:space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;

        /*Logo de la empresa*/
        .logo{
            height: 60px;
            width: 100px;
            img{
                height: 100%;
                width: 100%;
                border-radius: 2em;
            }
        }
        /*boton hmaburguesa*/
        .boton__hamburguesa{
            height: 30px;
            width: 30px;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .boton__hamburguesa-close{
            display: none;
        }
        .nav{
            display: none;
        }
        .visible{
            display: flex;
            flex-direction: column;
            align-items:center;
            gap: 10px;
            background-color:  rgb(0, 0, 0);
            top:0;
            right:0;
            bottom: 0;
            position: absolute;
            padding: 30px;
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0,.4);
            #nav__button-close{
                display: flex;
                flex-direction: column;
                justify-content:end;
                align-items: end;
                .line{ 
                    &:first-child{
                        height: 3px;
                        width: 30px;
                        background-color: #ffdfab;
                        margin-bottom: 5px;
                        
                    }
                    &:nth-child(2){
                        height: 3px;
                        width: 40px;
                        background-color: #ff5050;
                        margin-bottom: 5px;
                        
                    }
                    &:last-child{
                        height: 3px;
                        width: 30px;
                        background-color: #50f3ff;
                        margin-bottom: 5px;
                        
                    }
                
                }
                
            }
            .nav__list{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                list-style: none;
                
                li{
                    padding-top: 10px;
                    a{
                        color: #ffdfab;
                        text-decoration: none;
                    }
                }
            }
        }
       
        
    }
}


